<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>yes</allowoverlay>

	<controls>

		<include>Global_Overlay</include>
		<include>Clock</include>
		<!-- <include>GlobalBackground</include> -->
		
		<control type="label">
		<description>Settings Header</description>
			<left>100</left>
			<top>100</top>
			<height>60</height>
			<width>500</width>		
			<textcolor>FF6d6d6d</textcolor>				
			<font>Header2</font>
			<label>settings</label>

		</control>		

		<control type="wraplist" id="9000">
			<description>Home Wraplist</description>
			<left>140</left>
			<top>200</top>
			<width>1120</width>
			<height>60</height>
			<onup>300</onup>
			<ondown>300</ondown>
			<onleft>300</onleft>
			<onright>300</onright>
			<movement>1</movement>
			<orientation>horizontal</orientation>
			<focusposition>2</focusposition>
			<scrolltime tween="sine" easing="out">200</scrolltime>
			
			
			
			
			
			<itemlayout width="220" height="600">

				<control type="label">
					<left>0</left>
					<height>60</height>
					<width>210</width>		
					<aligny>center</aligny>
					<textcolor>Grey</textcolor>				
					<font>Menu</font>
					<info>ListItem.Label</info>
					<align>center</align>
				</control>

			</itemlayout>

			<focusedlayout width="230" height="60">

				<control type="label">
					<left>0</left>
					<width>220</width>
					<height>60</height>
					<aligny>center</aligny>	
					<info>ListItem.Label</info>
					<font>Home</font>
					<textcolor>Themecolor</textcolor>
					<align>center</align>
				</control>

			</focusedlayout>

			<content>
				<item id="1">
					<description>Appearance</description>
					<label>480</label>
					<onclick>activatewindow(AppearanceSettings)</onclick>
				</item>
				<item id="2">
					<description>Videos</description>
					<label>3</label>
					<onclick>activatewindow(VideosSettings)</onclick>
				</item>
				<item id="3">
					<description>Music</description>
					<label>2</label>
					<onclick>activatewindow(MusicSettings)</onclick>
				</item>
				<item id="4">
					<description>Addons</description>
					<label>24001</label>
					<onclick>activatewindow(AddonBrowser)</onclick>
				</item>
				<item id="5">
					<description>Pictures</description>
					<label>1</label>
					<onclick>activatewindow(PicturesSettings)</onclick>
				</item>
				<item id="6">
					<description>Weather</description>
					<label>8</label>
					<onclick>activatewindow(WeatherSettings)</onclick>
				</item>
				<item id="7">
					<description>Network</description>
					<label>14036</label>
					<!-- <label2>31409</label2> -->
					<onclick>ActivateWindow(ServiceSettings)</onclick>
				</item>
				<item id="8">
					<description>System</description>
					<label>13000</label>
					<onclick>activatewindow(SystemSettings)</onclick>
				</item>
				<item id="9">
					<description>Profiles</description>
					<label>13200</label>
					<onclick>activatewindow(Profiles)</onclick>
				</item>
				<item id="10">
					<description>System Info</description>
					<label>130</label>
					<onclick>activatewindow(7)</onclick>
				</item>
			</content>
		</control>

	</controls>

</window>